In [ ]:
#Creating series from array
import pandas as pd
import numpy as np
info = np.array(['P','a','n','d','a','s'])
a = pd.Series(info)
print(a)

In [ ]:
# a list of strings
x =['Python','Pandas']
#Calling DataFrame constructor on list
df = pd.DataFrame(x)
print(df)

In [ ]:
a= pd.Series(['Java','c','c++',np.nan])
a.map({'Java':'Core'})

In [ ]:
a= pd.Series(['Java','c','c++',np.nan])
a.map({'Java':'Core'})
a.map('I like{}'.format, na_action='ignore')

In [ ]:
s = pd.Series(["a","b","c"],
name="vals")
s.to_frame()

In [ ]:
import matplotlib.pyplot as plt
emp = ['Parker','John','Smith','William']
id = [102,107,109,114]
emp_series = pd.Series(emp)
id_series = pd.Series(id)
frame = {'Emp':emp_series,'ID':id_series}
result = pd.DataFrame(frame)
print(result)